<section>
    <h1 class="text-center text-main my-2">{{"forget.Forget Password"|translate}}</h1>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~FORM1~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


    @if (step == 1)
    {
    <form [formGroup]="verifyEmail" class="bg-light p-3 rounded-4 shadow" (ngSubmit)="verifyEmailSub()">
        <div class="my-2">
            <label for="email">{{"forget.email"|translate}}</label>
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>

        <button [disabled]="verifyEmail.invalid" class="btn-main">{{"forget.Verify E-mail"|translate}}</button>
    </form>
    }

    @else if (step == 2)
    {
    <form [formGroup]="verifyCode" class="bg-light p-3 rounded-4 shadow" (ngSubmit)="verifyCodeSub()">
        <div class="my-2">
            <label for="resetCode">{{"forget.resetCode"|translate}}</label>
            <input type="text" id="resetCode" class="form-control" formControlName="resetCode">
        </div>

        <button [disabled]="verifyCode.invalid" class="btn-main">{{"forget.Verify Code"|translate}}</button>
    </form>
    }

    @else if (step == 3)
    {
    <form [formGroup]="resetPassword" class="bg-light p-3 rounded-4 shadow" (ngSubmit)="resetPassSub()">
        <div class="my-2">
            <label for="email">{{"forget.email"|translate}}</label>
            <input readonly type="email" id="email" class="form-control" formControlName="email">
        </div>
        <div class="my-2">
            <label for="newPassword">{{"forget.newPassword"|translate}}</label>
            <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
        </div>

        <button [disabled]="resetPassword.invalid" class="btn-main">{{"forget.Verify E-mail"|translate}}</button>
    </form>/
    }


</section>